@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    text-decoration: none;
    margin:0; padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
}

.alert {
    width: 800px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 60px;
    padding: 4rem 4rem;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 500px;
    top: 160px;
    display: none;

}

.alert.active {
    display: block;
}

.alert h2 {
    position: relative;
    bottom: 30px;
    font-size: 30px; 
}

.alert p {
    position: relative;
    font-size: 20px;
    top: 20px; 
}


.alert button {
    position: relative;
    width: 200px;
    position: relative;
    top: 50px;
    background-color: #1877f2;
    color: #fff;
    height: 58px;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    
}


.alert button:hover {
    background-color: #e60023;
    transition: 0.5s;
}

.container {
    width: 800px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 60px;
    padding: 4rem 4rem;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 500px;
    top: 200px;
    
}

.container h2 {
    position: relative;
    text-align: center;
    left: 120px;
    bottom: 170px;
    font-weight: bold;
}

.container p {
    position: relative;
    right: 60px;
    bottom: 120px;
}

.container1 .counter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 90px;
    font-size: 70px;
    left: -9000px;
}







.buttons .btn-1 {
    position: relative;
    left: 610px;
    bottom: 80px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #e60023;
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    
}



.container2 .counter1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 250px;
    font-size: 70px;
    left: -9000px;
    
}







.buttons .btn-2 {
    position: relative;
    left: 810px;
    bottom: 227px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #e60023;
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    
}


.container3 .counter2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 400px;
    font-size: 70px;
    left: -9000px;
    
    
}







.buttons .btn-3 {
    position: relative;
    left: 1010px;
    bottom: 374px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #e60023;
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    
}


.container4 .counter3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 550px;
    font-size: 70px;
    left: -9000px;
    
    
    
}







.buttons .btn-4 {
    position: relative;
    left: 1220px;
    bottom: 520px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #e60023;
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    
}


.clear {
    position: relative;
    width: 200px;
    position: relative;
    bottom: 500px;
    left: 870px;
    background-color: #1877f2;
    color: #fff;
    height: 38px;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
